# Default ignored files
/../../maximumCare /.idea/shelf/
/../../maximumCare /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../maximumCare /.idea/httpRequests/
# Datasource local storage ignored files
/../../maximumCare /.idea/dataSources/
/../../maximumCare /.idea/dataSources.local.xml
